.main {
    background-color: aqua;
    color: black;
    margin-top: 5px;
    border: 2px solid gold;
    max-width: 200px;
    display: block;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;
}

.main:hover {
    color: red;
    background-color: cadetblue;
    cursor: pointer;
}